.warpper {
  padding: 0;
}

.header {
  padding: 25px 10px 10px 25px;
}

.body {
  padding: 12px 10px 60px 18px;
  font-size: 14px;
  table {
    border-spacing: 0;
    border-collapse: collapse;
  }
  thead th, tbody td {
    padding: 3px 10px;
    line-height: 21px;
  }
  thead th {
    text-align: left;
  }
  tbody tr {
    background-color: transparent;
    transition: all .3s;
  }
  tbody tr:hover {
    background-color: #f1f1f1;
  }
}

.notFound {
  color: #797979;
  a {
    color: #797979;
  }
}